@use "../base/var" as *;
.hero {
    background-color: $background-color;
    padding-top: 129px;

    &__container {
    background-image: url("../img/woman-hero.png"),
        url("../img/ice-cream-hero.png"), url("../img/Ellipse.png");
    background-repeat: no-repeat;
    background-position: bottom right, 477px 37px, 358px 52px;
    padding-top: 73px;
    padding-bottom: 56px;
}
&__wraper {
    display: flex;
}
&__blok {
    display: flex;
    max-width: 277px;
    flex-wrap: wrap;
}
&__title {
    font-family: "Titan One";
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 1.52px;
    text-transform: uppercase;
    color: $text-color;
}
.hero-passion {
    color: $decorative-color;
    font-family: "Titan One";
    font-size: 58px;
    font-weight: 400;
    line-height: 90.5%;
    letter-spacing: 2.32px;
    text-transform: uppercase;
}
&__buttons {
    display: flex;
    margin-top: 36px;
    gap: 17px;
}
&__product {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    display: block;
    width: 102px;
    height: 40px;
    background-color: $decorative-color;
    border-radius: 35px;
    border: none;
}
&__made {
    color: $decorative-color;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    display: block;
    width: 138px;
    height: 40px;
    background-color: $text-color;
    border-radius: 35px;
    border: none;
}
&__list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    gap: 18px;
}
&__item{
&:first-child {
    width: 72px;
}

&:last-child {
    width: 92px;
}

}
&__number {
    color: $decorative-color;
    text-align: right;
    font-family: "Titan One";
    font-size: 46px;
    font-weight: 400;
    letter-spacing: 1.84px;
    text-transform: uppercase;
}
&__servise{
    color: $text-color;
}
&__box {
    display: flex;
    align-items: center;
}

&__photo {
    width: 188px;
    height: 191px;
    margin: 30px;
}

&__text {
    max-width: 200px;
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
}
&__icon {
    fill: $decorative-color;
    width: 10px;
    height: 10px;
}
&__btn{
    display: block;
    margin-top: 20px;
    width: 26px;
    height: 26px;
    background-color: white;
    outline: none;
    border: none;
    padding: 0;
    border-radius: 20px;
}
}



























