@use "../base/var" as *;
.tradition {
  padding-top: 125px;
  padding-bottom: 139px;
  background-color: #fff5f6;
  padding-bottom: 125px;
  background-image: url("../img/milk-splashes.png");
  background-repeat: no-repeat;
  background-position: center;

  &__title {
    color: $title-color;
    text-align: center;
    font-family: "Titan One";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
  &__subtitle {
    color: $decorative-color;
    text-align: center;
    font-family: "Titan One";
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 3.48px;
    text-transform: uppercase;
    display: block;
  }
  &__block {
    display: flex;
    align-items: center;
  }
  &__cow {
    width: 516px;
    height: 516px;
    margin-right: 74px;
  }
  &__box {
    max-width: 463px;
  }
  &__text {
    color: $important-color;
    font-weight: 500;
    line-height: 176%;
    letter-spacing: 0.64px;
    margin-bottom: 35px;
  }

  &__info {
    color: $p-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 194%;
    letter-spacing: 0.56px;
    margin-bottom: 45px;
  }
  &__btn {
    color: $decorative-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    display: block;
    background-color: $text-color;
    border-radius: 35px;
    border: none;
    width: 176px;
    height: 44px;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    border-radius: 35px;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__icon {
    margin-bottom: 40px;
  }
  &__weight {
    color: $decorative-color;
    text-align: right;
    font-family: "Titan One";
    font-size: 58px;
    font-weight: 400;
    letter-spacing: 2.32px;
    text-transform: uppercase;
    text-align: start;
    margin-bottom: 15px;
  }
  &__description {
    color: $important-color;
    font-weight: 700;
    line-height: 176%;
    letter-spacing: 0.32px;
  }
   &__coffee {
    width: 33px;
  }
  &__aple {
    width: 50px;
  }
  &__candy {
    width: 44px;
  }
}
